<div class="class">
  <h2>Animais</h2>
  <ul>
    <li *ngFor="let animal of animals">
      Nome: {{ animal.name }} - Tipo: {{ animal.type }}
      <button (click)="showAge(animal)">Show age</button>
      <button (click)="removeAnimal(animals, animal)">Ecluir</button>
    </li>
  </ul>
  <h3>{{ animalDetails }}</h3>

  <div>
    <h2>List persons</h2>
    <div *ngFor="let person of persons">
      <div>
        <a routerLink="/list/{{ person?.id }}">{{ person?.id }}</a>
      </div>
      <div>{{ person?.firstName }}</div>
      <div>{{ person?.lastName }}</div>
      <div>{{ person?.description }}</div>
      <div><button (click)="removePerson(person.id)">Deletar</button></div>
      <div><button (click)="updatePersonData(person)">Open Modal</button></div>
      <div class="border-bottom">{{ person?.nation }}</div>
    </div>
  </div>
</div>
<app-modal-update
  (onShow)="setShow()"
  [person]="personUpdate"
  [show]="isShow"
></app-modal-update>
